# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
uvm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.html
coverage.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDEs & OS Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
